In [ ]:
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
c=int(input("enter the third number:"))
r1=(-b+((b**2)-(4*a*c))**0.5)/(2*a)
r2=(-b-((b**2)-(4*a*c))**0.5)/(2*a)
print("the first root is:",r1)
print("the second root is:",r2)

enter the first number:1
enter the second number:2
enter the third number:3
the first root is: (-0.9999999999999999+1.4142135623730951j)
the second root is: (-1-1.4142135623730951j)

In [ ]:
import cmath
a=1
b=3
c=5
d=(b**2)-(4*a*c)
sol1=

In [ ]:
import random
print(random.randint(0,9))

3

In [ ]:
import calendar
year=int(input("ener birth year:"))
month=int(input("enter birth month:"))
print(calendar.month(year,month))

ener birth year:2005
enter birth month:04
     April 2005
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30