In [ ]:
tuple(x**2 for x in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [ ]:
tuple(x**2 for x in range(0,20,2))

(0, 4, 16, 36, 64, 100, 144, 196, 256, 324)

In [ ]:
tuple(x*5 for x in range(1,11))

(5, 10, 15, 20, 25, 30, 35, 40, 45, 50)

In [ ]:
t1=("test")
len(t1)

4

In [ ]:
# creating a dictionary
country_capitals = {
  "Germany": "Berlin",
  "Canada": "Ottawa",
  "England": "London"
}

# printing the dictionary
print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'Ottawa', 'England': 'London'}

In [ ]:
student = {
    "rollno" : 3110,
    "name" : "aayush",
    "email" : "abc@xyz.com"
}
student[123] = 123456789
print(student)
del student[123]
print(student)

{'rollno': 3110, 'name': 'aayush', 'email': 'abc@xyz.com', 123: 123456789}
{'rollno': 3110, 'name': 'aayush', 'email': 'abc@xyz.com'}

In [ ]:
vivo_v30pro = {
    "Brand" : "VIVO",
    "OS" : "Android 14",
    ("RAM","Storage") : (["8gb","12gb"],["256gb","512gb"]),
    "Battery" : "5000mah",
    "Front camera" : "50mp",
    "Rear camera" : "50mp,50mp,50mp",
    "charging" : "80W",
    }
print("Features of VIVO V30 Pro are: ",vivo_v30pro)

Features of VIVO V30 Pro are:  {'Brand': 'VIVO', 'OS': 'Android 14', ('RAM', 'Storage'): (['8gb', '12gb'], ['256gb', '512gb']), 'Battery': '5000mah', 'front camera': '50mp', 'rear camera': '50mp,50mp,50mp', 'charging': '80W'}

In [ ]:
bookmyshow = {
    "city" : ["mum","delhi","navi mum", "thane"],
    "movies" : ["stree2","Alien","khel","vedaa"],
    ("dates","place","showtime") : ([24,25,26],["pvr","cinemax"],[4.15,6.30,11.30]),
    "seats" : ["Platinum","Gold"],
    ("ticket_charges","Convenience_fees","Sub_total") : ["Gold:K-7,K-8",47.20,447.20]
}
print(bookmyshow)

{'city': ['mum', 'delhi', 'navi mum', 'thane'], 'movies': ['stree2', 'Alien', 'khel', 'vedaa'], ('dates', 'place', 'showtime'): ([24, 25, 26], ['pvr', 'cinemax'], [4.15, 6.3, 11.3]), 'seats': ['Platinum', 'Gold'], ('ticket_charges', 'Convenience_fees', 'Sub_total'): ['Gold:K-7,K-8', 47.2, 447.2]}

In [ ]:
flights = {
    "from_city" :  ["mum","delhi","chennai","kolkata"],
    "to_city" : ["mum","delhi","chennai","kolkata"],
    "trip"  : ["one way","round trip"],
    ("dep_date","ret_date") : ([25,26,27],[1,2,3])


}
print(flights)

{'from_city': ['mum', 'delhi', 'chennai', 'kolkata'], 'to_city': ['mum', 'delhi', 'chennai', 'kolkata'], 'trip': ['one way', 'round trip'], ('dep_date', 'ret_date'): ([25, 26, 27], [1, 2, 3])}