In [ ]:
age=int(input("enter age: "))
if(16<=age<18):
 print("eligible of part time job")
elif(18<=age<65):
 print("eligible for full time job")
elif(100>age<0):
 print("invalid")
else:
 print("not eligible for job")

enter age: 69
not eligible for job

In [ ]:
a=30
b=39
print(a)if a>b else print(b)

39

In [ ]:
a=10
b=20
print(a) if(a>b) else print(b) if (a<b) else print("equal")

20

In [ ]:
age=int(input("enter age: "))
print("eligible of part time job") if(16<=age<18) else print("eligible for full time job") if(18<=age<65) else print("invalid") if(100>age<0) else print("not eligible for job")

enter age: -7
invalid

In [ ]:
num=float(input("enter no: "))
if num>=0:
 if num==0:
  print("zero")
 else:
  print("positive")
else:
 print("negative")

enter no: 0
zero

In [ ]:
a=int(input("select 1 for mobiles or 2 for laptops: "))
if(a==1):
 budget=int(input("enter budget: "))
 if(20000<=budget<=30000):
  print("vivo,iqoo")
 elif(30000<budget<60000):
  print("oneplus,samsung")
 else:
  print("not available")
elif(a==2):
 budget=int(input("enter budget: "))
 if(50000>=budget):
  print("hp,asus,acer")
 elif(50000<budget<=100000):
  print("dell,lenovo")
 elif(budget>150000):
  print("apple")
 else:
  print("not available")
else:
 print("invalid no")

select 1 for mobiles or 2 for laptops: 1
enter budget: 40000
oneplus,samsung