In [ ]:
l1=["test",1,2,3]
for i in l1:
 print(i)

test
1
2
3

In [ ]:
for i in range(1 , 11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range (0,11,2):
 print(i)

0
2
4
6
8
10

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

In [ ]:
print(list(range(0,101,5)))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
i=0
while i<11:
 print(i)
 i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
a="test"
print(len(a))

4

In [ ]:
city = ['pune', 'mumbai', 'delhi']
for i in range(len(city)):
 print ("I like", city[i])

I like pune
I like mumbai
I like delhi

In [ ]:
city=["pune","mumbai","delhi"]
for i in city:
 print("i like",i)

i like pune
i like mumbai
i like delhi

In [ ]:
for i in range(11):
 print(i)
else:
 print("for loop ended")

0
1
2
3
4
5
6
7
8
9
10
for loop ended

In [ ]:
for i in range(10):
 print(i)
 if i==8:
  break
 else:
  print("loop ended")

0
loop ended
1
loop ended
2
loop ended
3
loop ended
4
loop ended
5
loop ended
6
loop ended
7
loop ended
8

In [ ]:
counter=0
while counter<3:
 print("while loop no",counter)
 counter=counter+1
else:
 print("while ended")

while loop no 0
while loop no 1
while loop no 2
while ended

In [ ]:
a=int(input("enter no: "))
for i in range(1,11):
 print(a,"x",i,"=",a*i)

enter no: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
a=int(input("enter no: "))
i=0
while i in range(0,11):
 print(a,"x",i,"=",a*i)
 i=i+1

enter no: 8
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
a=int(input("enter no: "))
if a>10:
 print("invalid")
else:
 i=0
 while i in range(0,11):
  print(a,"x",i,"=",a*i)
  i=i+1